# ignore .svg files
*svg

# ignore .webarchive files
*webarchive

# ignore .jpg files
*jpg

# ignore .ai files
*ai

# ignore .png files
*png

# ignore .eps files
*eps

# ignore .sketch files
*sketch

# ignore .pdf files
*pdf

# ignore .DS_Store files
*DS_Store
