* {
	/*margin:0;
	padding:0;*/
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

h1 {
	line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	/*via https://css-tricks.com/sans-serif/*/
	font-family: Sans-Serif;
}

body {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	padding: 1em;
	margin: 0;
	line-height: 1.75em;
	font-size: 10px;
	font-size: 1.25rem;
	background: #efefef;
}


/*#main-content h1 {
	font-size: 2.75em;
	line-height: 1.25em;
}*/

h2 {
	line-height: 1.3em;
}

#main {
	margin: 0 auto;
	max-width: 40em;
	/*width: 90%;*/
	background: #fff;
	padding: 1em 2em;
	border: 7px solid #d4d4d4;
}

.centered {
	text-align: center;
	margin: 0 auto;
}

.call-to-action {
	width: 60%;	
}

.below-the-fold {
	color: #d4d4d4;
	border: 4px solid #efefef;
	margin: 15px auto;
}

/*via https://css-tricks.com/complete-guide-table-element/*/
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr, td {
	text-align: left;
	padding: .25em;
}

tr:nth-child(even) {
    background-color: #efefef;
}

@media(max-width: 50em) {
  body {
  	padding: 0;
  	font-size: 10px;
		font-size: 1.5rem;
  }
  #main {
  	background: #fff;
		border: 7px solid transparent;
		padding: .5em;
  }
  #main #menu,
  .name-logo {
  	text-align: center;
  }
  #mc_embed_signup input[type="email"],
  #mc_embed_signup input[type="submit"] {
  	width: 100%;
  }
}

h1 a.top-link:any-link {
	color: #000;
	text-decoration: none;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#menu h1.name-logo {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	line-height: 1.75em;
	font-size: 10px;
	font-size: 1.25rem;
	text-align: left;
	display: inline;
}

#menu ul {
	text-align: right;
	display: inline-block;
	/*line-height: 1em;*/
}

#menu ul li {
	display: inline;
	margin-right: 10px;
}

.all-caps {
	text-transform: uppercase;
}

#mc_embed_signup input {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}

#mc_embed_signup input[type="email"] {
	font-size: 1em;
	padding: .6em;
}

#mc_embed_signup input[type="submit"] {
	font-family: Sans-Serif;
	cursor:pointer;
	border:none;
	background: #5d5d5d/*#d4d4d4*/;
	color: #fff /*#000*/;
	padding: .5em .8em;
	font-size: 1em;
	/*font-weight: bold;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media(min-width: 50em) {
	#mc_embed_signup input[type="email"] {
		width: 50%;
	}

	#mc_embed_signup input[type="submit"] {
		width:50%;
	}
	#menu ul {
  	float: right;
  }
}


#mc_embed_signup input[type="submit"]:hover {
	background: #444444/*#DBDBDB*//*#09C*/;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.input-group ul {
	list-style: none;
	padding-left: 20px;
}

#mc_embed_signup input[type="checkbox"] {
	 zoom: 1.5;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  /*font-size: 110%;*/
  display: inline;
  padding: 0 0 0 .25em;
}